<div class="sidebar">
    <div class="sidebar-img-content">
        <img class="sidebar-img" src="./img/Capa-2.png" alt="">
    </div>
    <div class="sidebar-nav">
        <a href=""><img src="./img/summary.png" alt="">Summary</a>
        <a href=""><img src="./img/edit_square.png" alt="">Add Task</a>
        <a href=""><img src="./img/Vector.png" alt=""> Board</a>
        <a href=""><img src="./img/perm_contact_calendar.png" alt=""> Contacts</a>
    </div>
    <div class="sidebar-footer">
        <a href="">Privacy Policy</a>
        <a href="">Legal notice</a>
    </div>
</div>
<div class="header">
    <div>
        <span>Kanban Project Managment Tool</span>
    </div>
    <div class="profile-img">
        <div>asdfasd</div>
    </div>
</div>